body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: white;
}

.game-title {
    font-family: 'Exo', sans-serif;
    text-align: center;
    color: #008080;
}

.instructions {
    text-align: center;
}
